
.wp-block-navigation {
	.wp-block-navigation__responsive-container-open {
		svg {
			width: 40px;
			height: 40px;
		}
		outline: none;
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		background: var(--wp--preset--color--black) !important;
		color: var(--wp--preset--color--white) !important;

		.wp-block-navigation__responsive-container-close {
			position: static;
			display: block;
			margin: 0 auto;

			svg {
				width: 40px;
				height: 40px;
			}
		}
		.wp-block-navigation__responsive-container-content {
			.wp-block-navigation__container {
				display: block;
				width: 100%;

				> .wp-block-navigation-item {
					font-family: var(--wp--preset--font-family--dm-mono);
					font-size: var(--wp--preset--font-size--xx-large);
					transition: opacity 0.3s ease-in-out;
					opacity: 1;

					&:hover {
						opacity: 1;
					}
				}
				&:hover > .wp-block-navigation-item:not(:hover) {
					opacity: 0.3;
				}
			}
		}
	}
}
