.wp-block-search {
	&.wp-block-search__button-only.search_dialog__trigger {
		.wp-block-search__inside-wrapper {
			transition-delay: 0.1s;
		}
		.wp-block-search__input {
			display: none;
		}
	}
}

dialog#search_dialog {
	border-radius: 1em;
	border-width: 0;
	width: 500px;

	&::before {
		content: "\f179";
		display: inline;
		vertical-align: baseline;
		font-family: "dashicons";
		font-size: 2rem;
		width: 2rem;
		height: 2rem;
	}
	form {
		display: inline;
	}
	.search-submit {
		display: none;
	}
	.search-field {
		outline: none;
		border: none;
		background: transparent;
		font-weight: 400;
		height: 2rem;
		padding: 0;
		width: calc( 100% - 3rem );
		line-height: 2em;
		vertical-align: middle;
		font-size: 2rem;
		font-family: var(--wp--preset--font-family--dm-mono);
	}

	&::backdrop {
		background-color: #000000aa;
	}
}
